{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>
        
        {% block titulo %}
        {% endblock titulo %}   
     
    </title>
    <!-- Favicon-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="{% static 'core/assets/favicon.ico' %}" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'core/css/styles.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-3Pw9I7IunmFegxvMzw9n89Fzsgj6O7ae9aLHc/9l2pV5Jb3IhkuXBRvm8wjXZMXv5oT3ix0w7MtkapwzECIeXA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" href="#!">Libreria</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'core:index' %}">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'libros:lista_libros' %}">Libros</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'libros:lista_autores' %}">Autores</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'libros:nosotros' %}">Nosotros</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <form action="{% url 'core:logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-dark ">Logout</button>
                        </form>
                    <li class="nav-item bg-secondary"><a class="nav-link" href="#">{{ user.username }}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'ventas:ventas_lista' %}">Ventas</a></li>
                        
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'core:login' %}">Login</a></li>
                    {% endif %}   
                </ul>
            </div>
        </div>
    </nav>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <div class="container px-4 py-lg-4">
        <div class="row align-items-center my-1">
            <h1 class="display-4 text-center mb-4 bg-dark text-white ">
                {% block body_title %}
                {% endblock body_title %}
            </h1>
        </div>
        {% block content %}
        {% endblock content %}
    </div>
    

    {% block contenido %}
    {% endblock contenido %}

    <footer class="py-3 bg-dark fixed-bottom" style="bottom: 0; width: 100%;">
        <div class="container px-4 px-lg-5">
            <p class="m-0 text-center text-white small">Copyright &copy; Libreria sitio web</p>
        </div>
    </footer>
     <!-- Bootstrap core JS-->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
     <!-- Core theme JS-->
     <script src="{% static 'core/js/scripts.js' %}"></script>
</body>
</html>