{% extends 'core/base.html' %}
{% load static %}

{% block titulo %}
    PROYECTO
 {% endblock titulo %}
 
 {% block body_title %}
        Libreria Leone
 {% endblock body_title %}

 {% block contenido %}
    <!-- Page Content-->
    <div class="container px-4 px-lg-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="text-center">
        {% if user.is_authenticated %}
            <p class = "font-weight-bold"> ¡Bienvenido! {{user.username}}</p>
        {% endif %}

        {% if mensaje %}
        <p class="font-weight-bold"> {{mensaje}} ¡Bienvenido!</p>
        {% endif %}
                </div>
             </div>
           </div>
        </div>
        <!-- Heading Row-->
        <div class="row gx-4 gx-lg-5 my-5">
            <div class="col-lg-7 mb-4 mb-lg-0">
                <img class="img-fluid rounded" src="{% static 'core/img/82162.webp' %}" alt="..." />
            </div>
            <div class="col-lg-5 text-center mt-lg-0 mt-4">
                <h2 class="font-weight-light mt-0">Catálogo</h2>
                <p class="mb-4">Nuestra librería dispone de un amplio catálogo de libros, de toda variedad de géneros, editoriales y autores. En nuestro catálogo podras realizar búsquedas tanto por nombre del libro como por el autor. Podras realizar compras de forma online o presencial.</p>
                <a class="btn btn-dark" href="{% url 'libros:lista_libros' %}">Ir Al Catálogo</a>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h2 class="font-weight-light mt-0">Autores</h2>
                <p class="mb-4">Aqui podras ver la amplia lista de autores y los libros que disponemos de cada uno de ellos. Disponemos de toda variedad de autores clasicos, asi como los mejores escritores contemporaneos.</p>
                <a class="btn btn-dark" href="{% url 'libros:lista_autores' %}">Ir A Autores</a>
            </div>
        </div>

        <!-- Content Row-->
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title text-center">Redes Sociales</h2>
                        <br>
                        <br>
                        <div class="container">
                            <div class="row">
                                <div class="col-4 text-center">
                                    <a href="#" class="fa fa-facebook fa-lg text-dark"></a>
                                </div>
                                <div class="col-4 text-center">
                                    <a href="#" class="fa fa-twitter fa-lg text-dark"></a>
                                </div>
                                <div class="col-4 text-center">
                                    <a href="#" class="fa fa-google-plus fa-lg text-dark"></a>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-4 text-center">
                                    <a href="#" class="fa fa-youtube fa-lg text-dark"></a>
                                </div>
                                <div class="col-4 text-center">
                                    <a href="#" class="fa fa-linkedin fa-lg text-dark"></a>
                                </div>
                                <div class="col-4 text-center">
                                    <a href="#" class="fa fa-instagram fa-lg text-dark"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title text-center">Sucursales</h2>
                        <br>
                        <ul>
                            <li> 📍 Cordoba 1234. Rosario, Santa Fe, Argentina</li>
                            <br>
                            <li> 📍 San Lorenzo 3836. Rosario, Santa Fe, Argentina</li>
                            <br>
                            <li> 📍 Mitre 365. Rosario, Santa Fe, Argentina</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Contacto</h2>
                        <br>
                        <br>
                        <ul>
                            <li> ☎️ 3416893209</li>
                            <br>
                            <li> 📧 librerialeone@gmail.com</li>
                            <br>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
 {% endblock contenido %}
