{% extends 'core/base.html' %}
{% load static %}

{% block titulo %}
    PROYECTO
 {% endblock titulo %}
 
 {% block body_title %}
        Libreria Leone
 {% endblock body_title %}

 {% block contenido %}
    <!-- Page Content-->
    <div class="container px-4 px-lg-5">

        {% if user.is_authenticated %}
            <p class = "text-info"> ¡Bienvenido! {{user.username}}</p>
        {% endif %}

        {% if mensaje %}
        <p class = "text-info"> {{mensaje}} ¡Bienvenido!</p>
        {% endif %}
        <!-- Heading Row-->
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0"
                 src="{% static 'core/img/82162.webp' %}" alt="..." /></div>
            <div class="col-lg-5">
                <h2 class="font-weight-light">Catalogo</h2>
                <p>Nuestra libreria dispone de un amplio catalogo de libros, de toda variedad de generos, editoriales y autores. En nuestro catagalogo podes realizar busquedas tanto por nombre del libro como por el autor. Podes realizar compras de forma online o presencial.</p>
                <a class="btn btn-primary" href="{% url 'libros:lista_libros' %}">Ir Al Catalogo</a>
            </div>
        </div>

        <!-- Content Row-->
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Redes Sociales</h2>
                        <a href="#" class="btn btn-primary btn-sm"><i class="fab fa-facebook"></i> Facebook</a>
                        <a href="#" class="btn btn-primary btn-sm"><i class="fab fa-instagram"></i> Instagram</a>
                        <a href="#" class="btn btn-primary btn-sm"><i class="fab fa-twitter"></i> Twitter</a>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Sucursales</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Contacto</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                </div>
            </div>
        </div>
    </div>
   
 {% endblock contenido %}
