{% extends 'core/base.html' %}
  
{% block titulo %}
       Login
 {% endblock titulo %}

 {% block body_title %}
        Logout
 {% endblock body_title %}

{% block contenido %}
<div class="container">
       <div class="row justify-content-center">
           <div class="col-lg-8">
               <div class="text-center">
                     <br>
                     <br>         
                     <p class="font-weight-bold">Has cerrado sesion. ¡Hasta Luego!</p>
               </div>
           </div>
       </div>
   </div>
 {% endblock contenido %}