{% extends 'core/base.html' %}
   
{% block titulo %}
       Eliminar Venta
 {% endblock titulo %}

 {% block body_title %}
      Eliminar Venta
 {% endblock body_title %}

{% block contenido %}
   <p class="fs-5"><span style="font-family: 'Georgia', serif;">¿Seguro que desea eliminar esta venta?</span></p>
   <form action="" method="post">
    {% csrf_token %}
    <button type="submit">Eliminar</button>
   </form>
   <a href="{% url 'ventas:ventas_lista' %}" class="btn btn-secondary btn-sm">Volver</a>
 {% endblock contenido %}
