{% extends 'core/base.html' %}

{% block titulo %}
    <h1>LIBROS</h1>
 {% endblock titulo %}

 {% block body_title %}
 App De Libros       
 {% endblock body_title %}

 {% block contenido %}
 <div class="container text-center">
     <button class="btn btn-secondary my-button"><a href="{% url 'libros:lista_libros' %}" style="color:black;">Lista de libros</a></button>
     <button class="btn btn-secondary my-button"><a href="{% url 'libros:libros_create' %}" style="color:black;">Agregar libro</a></button>
     <button class="btn btn-secondary my-button"><a href="{% url 'core:index' %}" style="color:black;">Volver al inicio</a></button>
 </div>
 {% endblock contenido %}