{% extends 'core/base.html' %}

{% block titulo %}
    <h1>LIBROS</h1>
 {% endblock titulo %}

 {% block body_title %}
 App De Libros       
 {% endblock body_title %}

 {% block contenido %}
 <div class="container text-center">
    <button class="btn btn-primary my-button"><a href="{% url 'libros:lista_libros' %}" style="color:white;">Lista de libros</a></button>
    <button class="btn btn-primary my-button"><a href="{% url 'libros:libros_create' %}" style="color:white;">Agregar libro</a></button>
    <button class="btn btn-primary my-button"><a href="{% url 'core:index' %}" style="color:white;">Volver al inicio</a></button>
</div>
 {% endblock contenido %}