{% extends 'core/base.html' %}
   
{% block titulo %}
    Agregar libro
 {% endblock titulo %}

 {% block body_title %}
      {% if form.instance.pk %}
      Libro - Editar Libro
      {% else %}
      Libro - Agregar Nuevo Libro
      {% endif %}
 {% endblock body_title %}

{% block contenido %}
   <form action="" method="post">
    {% csrf_token %}
    {{form}}
    <button type="submit">Guardar</button>
   </form>
    <button><a href="{% url 'libros:lista_libros' %}">Volver</a></button>
 {% endblock contenido %}
