{% extends 'core/base.html' %}
   
{% block titulo %}
    Agregar libro
 {% endblock titulo %}

 {% block body_title %}
      {% if form.instance.pk %}
      Libro - Editar Libro
      {% else %}
      Libro - Agregar Nuevo Libro
      {% endif %}
 {% endblock body_title %}

 {% block contenido %}
 <form action="" method="post">
  {% csrf_token %}
  {{ form }}
 <div style="margin-top: 10px;">
       <a href="{% url 'libros:lista_libros' %}" class="btn btn-secondary btn-sm">Volver</a>
      <button type="submit" class="btn btn-info btn-sm me-2">Guardar</button> 
 </div>
</form>
{% endblock contenido %}
