{% extends 'core/base.html' %}
  
{% block titulo %}
    Lista de Libros
{% endblock titulo %}

{% block body_title %}
    Detalle Del Libro
{% endblock body_title %}

{% block contenido %}
    <div class="container">
        <ul class="list-group">
            <li class="list-group-item">
                <p class="fs-4 mb-0 font-weight-bold">{{libro.nombre_libro}}</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item fs-6"><span class="font-weight-bold">Autor:</span> {{libro.autor}}</li>
                    <li class="list-group-item fs-6"><span class="font-weight-bold">Año:</span> {{libro.año}}</li>
                    <li class="list-group-item fs-6"><span class="font-weight-bold">Editorial:</span> {{libro.editorial}}</li>
                    <li class="list-group-item fs-6"><span class="font-weight-bold">Género:</span> {{libro.genero}}</li>
                    <li class="list-group-item fs-6"><span class="font-weight-bold">Páginas:</span> {{libro.paginas}}</li>
                    <li class="list-group-item fs-6"><span class="font-weight-bold">Unidades:</span> {{libro.unidades}}</li>
                    <li class="list-group-item fs-6"><span class="font-weight-bold">Precio:</span> ${{libro.precio}}</li>
                </ul>
            </li>
        </ul>
        <a href="{% url 'libros:lista_libros' %}" class="btn btn-secondary mt-3">Volver</a>
    </div>
{% endblock contenido %}