<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Libros</h1>
    <form action="{% url 'libros:lista_libros' %}"method="get">
    <input type="text" name="busqueda" placeholder="Buscar...">
    </form>
    {% for libro in libros %}
        <li>{{libro.nombre}}</li>
        <li>{{libro.autor}}</li>
        <li> {{libro.editorial}}</li>
        <p>-----</p>
    {% endfor %}
    <button><a href="{% url 'libros:index' %}">Volver a libros</a></button>
</body>
</html>