{% extends 'core/base.html' %}

{% block titulo %}
    <h1>Lista de Autores</h1>
{% endblock titulo %}

{% block body_title %}
    Listado De Autores       
{% endblock body_title %}

{% block contenido %}
    <form action="{% url 'libros:lista_autores' %}" method="get">
        <input type="text" name="busqueda" placeholder="Buscar...">
    </form>
    <div class="row">
        {% for autor in autores %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ autor.nombre_autor }}</h5>
                        <p class="card-text small">Nacionalidad: {{ autor.nacionalidad }}</p>
                        <p class="card-text small">Nacimiento: {{ autor.nacimiento }}</p>
                        <button class="btn btn-primary ver-libros-btn" type="button" data-toggle="collapse" data-target="#listaLibros{{ forloop.counter }}">Ver Libros</button>
                        <ul id="listaLibros{{ forloop.counter }}" class="list-unstyled collapse">
                            {% if autor.libros.all %}
                            <ul>
                                {% for libro in autor.libros.all %}
                                    <li>{{ libro.nombre_libro }}</li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            <p>No hay libros disponibles para este autor.</p>
                             {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Incluye Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        // Opcional: Ajusta el texto del botón "Ver Libros" cuando se muestra u oculta la lista
        $('.ver-libros-btn').click(function() {
            $(this).text(function(i, text) {
                return text === "Ver Libros" ? "Ocultar Libros" : "Ver Libros";
            });
        });
    </script>
{% endblock contenido %}