{% extends 'core/base.html' %}
    
{% block titulo %}
    <h1>Lista de Autores</h1>
 {% endblock titulo %}

{% block contenido %}
    <form action="{% url 'libros:lista_autores' %}"method="get">
        <input type="text" name="busqueda" placeholder="Buscar...">
    </form>
    {% for autor in autores %}
        <li>{{autor.nombre}}</li>
        <li>{{autor.nacionalidad}}</li>
        <li>{{autor.naciomiento}}</li>
        <p>-----</p>
    {% endfor %}
    <button><a href="{% url 'libros:index' %}">Volver a libros</a></button>
 {% endblock contenido %}
