{% extends 'core/base.html' %}
  
{% block titulo %}
    <h1>Lista de Libros</h1>
 {% endblock titulo %}

 {% block body_title %}
        Listado De libros
 {% endblock body_title %}

{% block contenido %}
    <form action="{% url 'libros:lista_libros' %}"method="get">
    <input type="text" name="busqueda" placeholder="Buscar...">
    </form>
    {% for libro in libros %}
        <li>{{libro.nombre}}</li>
        <a href="{% url 'libros:libro_detail' libro.id %}">Detalle</a>
        <p>-----</p>
    {% endfor %}
    <button><a href="{% url 'libros:index' %}">Volver a libros</a></button>
 {% endblock contenido %}
