{% extends 'core/base.html' %}

{% block titulo %}
    Nosotros
 {% endblock titulo %}

 {% block body_title %}
      ¿Quienes somos?      
 {% endblock body_title %}

 {% block contenido %}
<div class="container contenido mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="text-center">
                <!-- Contenido de la librería Leone -->
                <p class="font-weight-bold">Bienvenidos a Librería Leone, tu destino literario en la vibrante ciudad de Rosario.</p>
                <p class="font-weight-normal">Con tres sucursales repartidas estratégicamente por la ciudad, nos enorgullece ser tu fuente confiable de exploración literaria desde 1994.</p>
                <p class="font-weight-normal">En Librería Leone, nuestra pasión es conectar lectores con historias cautivadoras. Es por eso que ofrecemos una amplia selección de libros que abarcan todos los géneros imaginables.</p>
                <p class="font-weight-normal">Desde clásicos atemporales hasta los últimos lanzamientos de los más aclamados autores contemporáneos, tenemos algo para cada lector ávido de descubrimiento. Ya sea que busques un thriller de suspenso para mantener tus pulsaciones aceleradas o una conmovedora historia de amor para calmar tu corazón, estamos aquí para ayudarte a encontrar el libro perfecto que complemente tu estado de ánimo y tus intereses.</p>
                <p class="font-weight-normal">Nuestro equipo está formado por apasionados bibliófilos que están siempre dispuestos a ofrecerte recomendaciones personalizadas y a compartir sus conocimientos sobre la vasta y maravillosa gama de libros que albergamos en nuestras estanterías.</p>
                <p class="font-weight-normal"> Te invitamos a explorar nuestras sucursales, sumergirte en la atmósfera acogedora y repleta de historias que hemos creado para ti, y dejarte llevar por la magia de la literatura en Librería Leone. ¡Esperamos verte pronto entre nuestras páginas!</p>
                
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}